.linkContainer {
    width: 90%;
    height: 30vh;
    margin: 2vh 5vw;
    border-color: #D3D3D3;
    border-radius: 5px;
    border-style: solid;
    overflow-y: auto;
    overflow-x: hidden;
}

.urlList {
    list-style-type: none; /* Remove default list styling */
    padding: 0;
    margin: 0;
}
.urlList li {
    display: flex;
    align-items: center; /* Align items vertically in the center */
    margin: 10px 0; /* Space between list items */
}

.urlList a {
    margin-right: 15px; /* Space between the link and the radio buttons */
    text-decoration: none;
    color: #007bff; /* Link color */
}

.radioButtons {
    display: flex;
    align-items: center;
}

.radioButtons input {
    margin-right: 5px; /* Space between radio buttons */
}


.urlList a:hover {
    text-decoration: underline; /* Underline on hover */
}

