.jobContainer {
    width: 90%;
    height: 40vh;
    margin: 4vh 5vw;
    border-color: #D3D3D3;
    border-radius: 5px;
    border-style: solid;
    overflow-y: auto;
    overflow-x: hidden;
}

.jobContainer ul {
    text-align: left;
    padding-left: 5vw
}

.urlList {
    list-style-type: none; /* Remove default list styling */
    padding: 0;
    margin: 0;
}

.urlList li {
    margin: 10px 0; /* Space between list items */
}

.urlList a {
    text-decoration: none;
    color: #007bff; /* Link color */
}

.urlList a:hover {
    text-decoration: underline; /* Underline on hover */
}